<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search for flights</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
<h1>Filter {{airline}} flights:</h1>
    <form action = "/AirlineStaffViewFlightsDisplay" method = "POST">
        Enter range of departure dates (default is following 30 days):
        <input type = "date" name = "first_departure_date" placeholder = "starting departure date"/>
        <input type = "date" name = "second_departure_date" placeholder = "ending departure date"/><br>
        <input type = "text" name = "departure_city" placeholder = "departure city" pattern = "{1,20}"/>
        <input type = "text" name = "arrival_city" placeholder = "arrival city" pattern = "{1,20}"/></br>
        <input type = "text" name = "departure_airport" placeholder = "departure airport" pattern = "{1,20}"/>
        <input type = "text" name = "arrival_airport" placeholder = "arrival airport" pattern = "{1,20}"/></br>
        <input type = "submit" value = "Search" /></br>
    </form>
<a href = "/Home"><button>Back to Home</button></a>

</body>

</html>
