<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search Results</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<style type="text/css">
	table, th, td{
		border: 1px solid black;
	}
</style>

<table>
	<th>Airline name</th>
	<th>Flight no.</th>
	<th>Departure Date</th>
	<th>Departure Time</th>
	<th>Arrival Date</th>
	<th>Arrival Time</th>
	<th>Departure Airport</th>
	<th>Departure City</th>
	<th>Arrival Airport</th>
	<th>Arrival City</th>
	<th>Base Price</th>
	<th>Seats Sold</th>
	<th>Capacity</th>


{% for line in data %}
	<tr>
		<td>{{line['airline_name']}}</td>
		<td>{{line['flight_num']}}</td>
		<td>{{line['departure_date']}}</td>
		<td>{{line['departure_time']}}</td>
		<td>{{line['arrival_date']}}</td>
		<td>{{line['arrival_time']}}</td>
		<td>{{line['departure_airport_name']}}</td>
		<td>{{line['departure_city']}}</td>
        <td>{{line['arrival_airport_name']}}</td>
		<td>{{line['arrival_city']}}</td>
		<td>{{line['price']}}</td>
		<td>{{line['tickets_sold']}}</td>
		<td>{{line['capacity']}}</td>
		<td></td>
	</tr>
{% endfor %}
</table>
<h1>Buy a flight:</h1>
    <form action = "/BookingAgentPurchaseAuth" method = "POST">
		<input type = "text" required name = "flight_num" placeholder = "flight number" pattern = "{6}"/></br>
        <input type = "text" required name = "airline_name" placeholder = "airline name" pattern = "{1,20}"/></br>
        <input type = "date" required name = "departure_date" placeholder = "departure date"/>
        <input type = "text" required name = "departure_time" placeholder = "departure time" pattern = "[0-23]{2}:[0-59]{2}:[0-59]{2}"/></br>
        <input type = "number" required name = "price" placeholder = "price" min = "1" max = "10000" step = "0.01"><br>
        Customer Information:</br>
		<input type="email" required name="email" placeholder="customer email">
        <select name ="debit_credit" required><option value="credit">credit</option><option value="debit">debit</option></select>
        <input type = "text" required name = "card_no" placeholder = "card number" pattern = "[0-9]{16,19}"/></br>
        <input type = "text" required name = "cardholder" placeholder = "billing name" pattern = "{1,30}"/>
        <input type = "date" required name = "card_exp" placeholder = "card exp date"/></br>
		<input type = "submit" value = "Purchase" /></br>
    </form>
<br><a href = "/Home"><button>Back to Home</button></a>


</body>
</html>
