<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome back Booking Agent!</title>
</head>
<body>
<center>
    <h1>Welcome back {{name}}!</h1>
    <p>
        <a href = "/BookingAgentSearchForFlights"><button>Search For Flights!</button></a>
        <a href = "/BookingAgentViewFlights"><button>View Previous Sales!</button></a>
        <a href = "/logout"><button>Log Out</button></a>
        INSERT COMMISSION
        INSERT TOP CUSTOMERS
    </p>
</center>
</body>
</html>
