<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome back Customer!</title>
</head>
<body>
<center>
    <h1>Welcome back {{name}}!</h1>
    <p>
        INSERT BAR GRAPH HERE
        <a href = "/CustViewMyFlights"><button>Register!</button></a>
        <a href = "/CustSearchForFlights"><button>Login!</button></a>
        <a href = "/CustGiveRatings"><button>View Public Info!</button></a><br>
        <a href = "/logout"><button>Log Out</button></a>
    </p>
</center>
</body>
</html>
