<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome back Customer!</title>
</head>
<body>
<center>
    <h1>Welcome back {{name}}!</h1>
    <p>
        <img src="CustSpendingGraph.png" alt="Customer Spending Graph">
        <a href = "/CustViewMyFlights"><button>View Your Flights!</button></a>
        <a href = "/CustSearchForFlights"><button>Search for Flights!</button></a>
        <a href = "/CustGiveRatings"><button>Rate Previous Flights!</button></a><br>
        <a href = "/logout"><button>Log Out</button></a>
    Update your graph:
    <form action="/CustSpendingGraph" method="POST">
        <input type = "date" required name = "start_date" placeholder = "start date" max="{{current_date}}"/>
        <input type = "date" name = "end_date" placeholder = "end date" max="{{current_date}}"/>
        <input type = "submit" value = Update /></br>
    </form>
    </p>
</center>
</body>
</html>
