<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airplane System</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <center>
    <h1>Welcome to the Airplane System</h1>
    <p>
        <a href = "/register"><button>Register!</button></a>
        <a href = "/login"><button>Login!</button></a>
        <a href = "/publicviewSearch"><button>View Public Info!</button></a>
    </p>
    </center>
</body>
</html>
