<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}
    <a href = "/loginCustomer"><button>Customer login</button></a>
    <a href = "/loginBookingAgent"><button>Booking Agent login</button></a>
    <a href = "/loginAirlineStaff"><button>Airline Staff login</button></a>
</body>
</html>
